@import url('https://fonts.googleapis.com/css2?family=Bakbak+One&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap');


.container {
  width: 100%;
  margin: 1 auto;
}

h1 {
    color: #f9f54b;
    font-family: 'Bakbak One', cursive;
    position: absolute;
    left: 80px;
    bottom: 1px;
    font-size: 25vh;
  }

h2 {
    color: #f9f54b;
    font-family: 'Bakbak One', cursive;
    position: absolute;
    font-size: 6vh;
    left: 80px;
    top: 450px;
    }

header {
    background: url(images/hero-image.jpg);
    height: 100vh;
    padding: 1.3em;
    background-size: cover;
}

.navigation {
    background: #1F93BC;
    padding: 1.3em;
    font-family: 'Bakbak One', cursive;
    font-size: 1.3em;
    display: flex;
    justify-content: space-between;
  }

  .logo {
    width: 100px;
  }

  .logo img {
    width: 100%;
    object-fit: contain;
  }

nav a {
    text-decoration: none;
    color: #182023;
    padding: 1.3em;
  }

  nav li{
    list-style-type: none;
  }

  nav ul {
    display: flex;
    justify-content: right;
  }

  nav a:hover {
    background: #EEB76B;
    color: #f9f54b;
  }

h3 {
  font-family: 'Bakbak One', cursive;
  color: black;
  font-size: 7vh;
}

h4 {
  font-family: 'Bakbak One', cursive;
  text-align: center;
  font-size: 5vh;
}

h5 {
  font-family: 'Bakbak One', cursive;
  font-size: 1em;
}

body {
  font-family: 'nunito sans';
  background: #DFF0F5;
  margin: 0;
  padding: 0;
}

.card {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  gap: 2em;
  margin-top: 15px;
  width: 100%;
}

.card-reverse {
flex-direction: row-reverse;
}

.card-photo {
  flex: 1;
}

.card-photo img, .card-content img {
  width: 100%;
}

.card-content {
  flex: 1;
}

.box {
  background-color: #EEB76B;
  padding: 3em;
  text-align: center;
 }

ul {
  color: black;
  text-align: left;
  list-style-type: none;
  }

  .top-footer {
    display: flex;
    justify-content: space-between;
  }

.social-box {
  display: inline-block;
  background-color: #1F93BC;
  margin: .5em;
}


footer {
  font-family: 'Bakbak One', cursive;
  background-color: #1F93BC;
  text-align: center;
  color: black;
  padding: 1em;
  height: 30vh;
}